<app-nav-bar-component></app-nav-bar-component>
<div class="team">
  <div *ngFor="let team of teams" class="team-div" [class.blur]="isSelected(team.teamName)">
    <div >{{team.teamName}}</div>
  </div>
</div>
<div class="total-container">
<app-team-selection-component (haveTeam)="teamSelectedvalue($event)" (addedteamemit)="removefromarray($event)" (deletedteamemit)="addtoarray($event)"></app-team-selection-component>

<div class="grid-child-element">
  <div class="selector" >
    Choose a skill from the below {{  teamSelectedFromTeamComponent}} 
  </div>
  <div class="selector">
    <select [(ngModel)]="selectedItem" class="form-select picker" aria-label="Default select example"
      (change)="onSkillSelection($event)">
      <option value="player">Select a skill</option>
      <option value="Batting All-rounder">Batting All-rounder</option>
      <option value="Bowling All-rounder">Bowling All-rounder</option>
      <option value="Batter">Batting</option>
      <option value="Bowller">Bowling</option>
      <option value="Wicket Keeper">Wicket Keeper</option>
    </select>
    &nbsp;
  
    <button class="btn btn-primary pickButton"  [disabled]="teamSelectedFlag"   (click)="onPickSelection()">{{ 'Pick a lucky '}}{{ selectedItem
      }}</button>
      
  </div>


  <!-- //////////////-----------------------/pop up of wiinner ------------------------------------------------------------->
  <div class="overlay" *ngIf="pickPlayerFlag">
    <div class="content-container ">
      <div class="  winnerBox">
        
        <div>The Lucky {{selectedItem}} Is </div>
        &nbsp;
        <div *ngIf="displayWinnerFlag" class="winnerName">
          {{currentWinner}}
         
        </div>
       
        
        <div *ngIf = "!displayWinnerFlag" class="roundRobinNames"> {{currentItem}}</div>
              
      </div>
      <div>
      </div>
      <div class = "winnerbuttons">
        <button class="btn btn-primary  addPlayerToTheTeamButton" (click)="onAddThePlayerToTheTeam()"
          [disabled]="addPlayerButtonDisabled">Add the player to
          the team</button>
          &nbsp;
        <button class="btn btn-primary " (click)="onCancelThePlayer()">Cancel the player selection</button>
      </div>
    </div>
  </div>




  <div class="pickerror">
    <div *ngIf="pickSelectionErrorFlag" class="alert alert-warning" role="alert">{{pickSelectionError}}</div>
    <div>Available {{selectedItem}}s</div>
  </div>



  <!--=----------------------------------------------- table ----------------------------------------------------------------------------------------->
  <div class="selector ">

    <table class="table-success table table-dark table-hover table-bordered mt-3 tablesize tablee">
      <thead>
        <tr>
          <!-- <th scope="col">id</th> -->
          <th scope="col">Name</th>
          <th scope="col">Skill</th>
          <!-- <th scope="col">Gender</th>
          <th scope="col">Email</th>
          <th scope="col">Team</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of playerDetails  | paginate:{
          itemsPerPage:tableSize,
          currentPage:page,
          totalItems:count
      } let i= index 
        " class="table-success">
          <!-- <td>{{player.id}}</td> -->
          <td>{{player.name}}</td>
          <td>{{player.skill}}</td>
          <!-- <td>{{player.gender}}</td>
          <td>{{player.email}}</td>
          <td>{{player.team}}</td> -->

        </tr>

      </tbody>
    </table>
  </div>
  <div class="selector">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">

    </pagination-controls>
  </div>
</div>