

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
    /* height:60px;
    width: 100vw;
    min-width: 600px; */
    background-image: url('/assets/img/curlright.png'),url('/assets/img/curlright.svg');
    /* background-image: url('/assets/img/curlright.svg'); */
    background-repeat: no-repeat,no-repeat;
    background-position: left,right;
    height:50px ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: rgba(25,57,138,255);
}

a{
    position: relative;
    text-decoration: none;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    color:white;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 10px;
    font-weight: bold;
    

}



a:after{
    content: "";
    position: absolute;
    background-color: rgb(233, 226, 227);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s;

}

a:hover:after{
    width: 100%;
}
.active-link {
    color: white    ; 
  }
  
.active-link:after {
    content: "";
    position: absolute;
    background-color: white; 
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -8px;
  }
  .linkk {
    color: white    ; 
  }
  
  .linkk:after {
    content: "";
    position: absolute;
    background-color: white; 
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -8px;
  }
  
  
  
  
  
  
div.nav-container{
    
    background-repeat: no-repeat;
    background-position: right;
    padding: 30px 0;
    background-color: #061e59;

}



