<app-nav-bar-component></app-nav-bar-component>

<body>
    <div class="teamdetails">
        <p>{{currentTeam}}</p>
        <div class="img-holder">
            <img src="/assets/img/{{currentTeam}}.png">
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="teamName">
            {{currentTeam}}
        </div>
        <div class="team-detail-text">
            <p><span>Owner</span>&nbsp;&nbsp;&nbsp;<b> - </b>&nbsp;&nbsp;static data</p>


            <p><span>Captain</span>&nbsp;&nbsp;<b> - </b>&nbsp;&nbsp;static data</p>

        </div>

    </div>

    <div class="container">
        <div class="player-holder"  *ngFor="let player of players">
        
            <div class="img"></div>
            <div class="data"><div class="name">{{player.name}}</div><div class="skill">{{player.skill}}</div></div>
            
          </div>
          
        </div>
</body>