<app-nav-bar-component></app-nav-bar-component>

<body>
    <div class="teamdetails">
        <p>{{currentTeam}}</p>
        <div class="img-holder">
            <img src="/assets/img/{{currentTeam}}.png">
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="teamName">
            {{currentTeam}}
        </div>
        <div class="team-detail-text">
            <p><span>Owner</span>&nbsp;&nbsp;&nbsp;<b> - </b>&nbsp;&nbsp;{{owner}}</p>


            <p><span>Captain</span>&nbsp;&nbsp;<b> - </b>&nbsp;&nbsp;{{captain}}</p>

        </div>

    </div>
    <div >
        <div class = "skillname">Batters</div>
    <div class="container">
        <div class="player-holder"  *ngFor="let player of battingPlayers">
        
            <img src="/assets/img/batting.png">
            <div class="data"><div class="name">{{player.name}}</div><div class="skill">{{player.skill}}</div></div>
            
          </div>
          
        </div>
    </div>
    <div>
        <div class = "skillname">Allrounders</div>
    <div class="container">
        <div class="player-holder"  *ngFor="let player of allrounders">
        
            <img src="/assets/img/allrounder.png">
            <div class="data"><div class="name">{{player.name}}</div><div class="skill">{{player.skill}}</div></div>
            
          </div>
          
        </div>
    </div>
    <div>
        <div class = "skillname">Bowlers</div>
    <div class="container">
        <div class="player-holder"  *ngFor="let player of bowllingPlayers">
        
            <img src="/assets/img/bowling.png">
            <div class="data"><div class="name">{{player.name}}</div><div class="skill">{{player.skill}}</div></div>
            
          </div>
          
        </div>
    </div>
</body>
<footer>
    <div class="foo">
      <div class="fotext">TITLE SPONSOR <a href="https://www.realpage.com/"><img src="/assets/img/realpagelogo.png" h></a>
      </div>
  
    </div>
  </footer>