<body>
  <app-nav-bar-component></app-nav-bar-component>
  <div class="mainlogo">
    <img src="/assets/img/rpl.png" alt="Image 1">
    <!-- <p style="color: brown;">{{seasonNumber}}</p> -->
  </div>

  <div class="container">

    <div class="img-holder jupiter"><a href="/home/{{team}}"><img src="/assets/img/Jupiter Eagles.png"
          (click)="navigateTeam('Jupiter Eagles')"></a></div>
    <div class="img-holder ceres"><a href="/home/{{team}}"><img src="/assets/img/Ceres Strikers.png"
          (click)="navigateTeam('Ceres Strikers')"></a></div>
    <div class="img-holder uranus"><a href="/home/{{team}}"><img src="/assets/img/Uranus Hurricans.png"

          (click)="navigateTeam('Uranus Hurricans')"></a></div>
    <div class="img-holder mars"><a href="/home/{{team}}"><img src="/assets/img/Mars Thunders.png"
          (click)="navigateTeam('Mars Thunders')"></a></div>

    <div class="img-holder mercury"><a href="/home/{{team}}"><img src="/assets/img/Mercury Steelers.png"
          (click)="navigateTeam('Mercury Steelers')"></a></div>
    <div class="img-holder neptune"><a href="/home/{{team}}"><img src="/assets/img/Neptune Knights.png"
          (click)="navigateTeam('Neptune Knights')"></a></div>
    <div class="img-holder venus"><a href="/home/{{team}}"><img src="/assets/img/Venus Warriors.png"
          (click)="navigateTeam('Venus Warriors')"></a></div>
    <div class="img-holder vesta"><a href="/home/{{team}}"><img src="/assets/img/Vesta Avengers.png"
          (click)="navigateTeam('Vesta Avengers')"></a></div>


    <div class="img-holder saturn"><a  href="/home/{{team}}"><img src="/assets/img/Saturn Superstars.png"
          (click)="navigateTeam('Saturn Superstars')"></a></div>
    <div class="img-holder pluto"><a href="/home/{{team}}"><img src="/assets/img/Pluto Panthers.png"
          (click)="navigateTeam('Pluto Panthers')"></a></div>
    <div class="img-holder earth"><a href="/home/{{team}}"><img src="/assets/img/Earth Heros.png"
          (click)="navigateTeam('Earth Heros')"></a></div>
    <div class="img-holder eris"><a href="/home/{{team}}"><img src="/assets/img/Eris Falcons.png"
          (click)="navigateTeam('Eris Falcons')"></a></div>


    </div>

</body>
  

<footer>
  <div class="foo">
    <div class="fotext">TITLE SPONSOR <a href="https://www.realpage.com/"><img src="/assets/img/realpagelogo.png" h></a>
    </div>

  </div>
</footer>