

<header>
  <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist"
      style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
      <li class="nav-item" role="presentation" >
          <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="true" >Home</button>
      </li>
      <li class="nav-item" role="presentation" >
          <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="false">Pick Player</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="false">Times & dates</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="false">Contact</button>
      </li>
  </ul>
</header>


    
     <div class="container">
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img1.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img2.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img3.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img4.png" alt="Image 1"></a></div>
        
     
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img5.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img6.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img7.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img8.png" alt="Image 1"></a></div>
       
      
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img9.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img10.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img11.png" alt="Image 1"></a></div>
        <div class="img-holder"><a href="#" target="_main"><img src="/assets/img/img12.png" alt="Image 1"></a></div>
   
      </div>