/* --------------------------------header----------------------------------------- */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;

}
/* ---------------------------------random options---------------------------------- */
.selector {
  width: 50%;
  /* adjust the width as needed */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  /* adjust the margin as needed */

}
/* -----------------------------------teamtable---------------------------------------- */

/* ----------------------------------------TEAM SELECTION POPUP--------------------------------------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.winnerBox {
  border: 1px solid black;
  width: 450px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;

}


.winnerTeam {
  text-align: center;
  color: green;
  font-size: xx-large;
}

.roundRobinNames{
  text-align: center;
  color: blue;
  font-size:x-large;
}
/*table card*/

.grid-child-element { 
  
  width: 40rem;
  height:90vh;
  padding: .6rem;
  margin: .6rem; 
  border: 1px solid rgb(7, 7, 7); 
  box-shadow: 11px 11px 23px 5px rgba(85,85,85,1);
}

.tableContainer {
  height:300px;
  overflow: auto;
}
.table1 {
  position: sticky;
  top: 0;
  width: 100%;
}

/* Team-detail-text  */
.team-detail-text{
    flex-direction: column;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: #112a5c;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Bebas Neue';
    justify-content: flex-start;
}

.team-detail-text p {
  width: 100%;
  margin: 0;
  padding: 11px 15px 8px;
  display: flex;
  font-size: 18px;
  border-bottom: 2px solid #031945;
  color: #fff;
}

.team-detail-text p span:first-child {
  color: #ffc52f;
}

.team-detail-text p span {
  text-align: start;
  color: #fff;
  display: block;
  width: 64px;
}
.team-detail-text p b {
  margin-right: 20px;
}

.noplayers{
  align-content: center;
  align-items: center;
}

/* on/off switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end of on/off switch */

div.switchAccess{
  float: right;
}

 /* Team add and delete fields */

 div.Teams{
  /* padding-top: 40px; */
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  margin: 1rem;
 }
 .TeamField {
  margin: 3px;
  border: 1px solid rgb(7, 7, 7); 
  padding:10px;
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgb(185, 179, 179);
}
.TeamField:hover{
  background-color: rgb(227, 225, 225);
}
button{
  margin: 0 3px;
}

 .button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* --  */
html,
body {
  background-color: #101e35;
  font-size: 10px; /* Makes 1rem = 10px */
}

label {
  color: white;
  font-size: 1.5rem;
}
input {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.confetti-container {
  user-select: none;
  z-index: 10;
}
.confetti {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  /* width: 600px; */
  /* height: 600px; */
  /* overflow: hidden; */
}

.confetti .square {
  width: 1rem;
  height: 1rem;
  background-color: var(--bg);
  transform: rotate(-140deg);
}

.confetti .rectangle {
  width: 1rem;
  height: 0.5rem;
  background-color: var(--bg);
}

.confetti .hexagram {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid var(--bg);
  position: relative;
}

.confetti .hexagram:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 1rem solid var(--bg);
  position: absolute;
  top: 0.33rem;
  left: -0.5rem;
}

.confetti .pentagram {
  width: 0rem;
  height: 0rem;
  display: block;
  margin: 0.5rem 0;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid var(--bg);
  border-left: 1rem solid transparent;
  transform: rotate(35deg);
  position: relative;
}
.confetti .pentagram:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-bottom: 0.8rem solid var(--bg);
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  transform: rotate(-35deg);
  position: absolute;
  top: -0.45rem;
  left: -0.65rem;
}
.confetti .pentagram:after {
  content: "";
  width: 0rem;
  height: 0rem;
  display: block;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid var(--bg);
  border-left: 1rem solid transparent;
  transform: rotate(-70deg);
  position: absolute;
  top: 0.03rem;
  left: -1.05rem;
}

.confetti .dodecagram {
  background: var(--bg);
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
}

.confetti .dodecagram:before {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background: var(--bg);
  transform: rotate(30deg);
  position: absolute;
  top: 0;
  left: 0;
}
.confetti .dodecagram:after {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background: var(--bg);
  transform: rotate(60deg);
  position: absolute;
  top: 0;
  left: 0;
}

.confetti .wavy-line {
  position: relative;
}
.confetti .wavy-line::after,
.confetti .wavy-line::before {
  content: "";
  height: 1rem;
  width: 8rem;
  background-size: 2rem 1rem;
  position: absolute;
  left: -9rem;
  transform: rotate(90deg);
}

.confetti .wavy-line::before {
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent 50%,
    var(--bg) 50%,
    transparent 60%
  );
  top: 1rem;
}
.confetti .wavy-line::after {
  background-image: linear-gradient(
    -45deg,
    transparent,
    transparent 50%,
    var(--bg) 50%,
    transparent 60%
  );
}

.confetti i {
  width: 3rem;
  height: 3rem;
  margin: 0 0.2rem;
  animation-name: confetti;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: calc(70s / var(--speed));
}

.confetti i:nth-child(even) {
  transform: rotate(90deg);
}

@keyframes confetti {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(100vh);
  }
}