<div class="grid-child-element">

    <div class="selector">
    
        <div class="content-container ">
            <button class=" selectbtn btn btn-primary" (click)="selectRandomOption()">Select A Team</button>
        </div>
    
    </div>
    <div *ngIf="selectedTeamName">
        <div class="team-detail-text">
            <p>
                <span>
                    Team
                </span>
                <b>-</b>
                {{team}}
            </p>    
            <p>
                <span>
                    Captain 
                </span>
                <b>-</b>
                {{Captain}}
            </p>
            <p>
                <span>
                    Owners
                </span>
                <b>-</b>
                {{Owners}}
            </p>
        </div>
        <div *ngIf="TeamDetails.length==0" >
            <div class="noplayers">No players assigned in this team</div>
        </div>
        <div class="tableContainer ">

            <table *ngIf="TeamDetails.length>=1" class="table-success table1 table table-dark table-hover table-bordered mt-3 tablesize tablee">
                <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Skill</th>
                    <!-- <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let us of TeamDetails 
                " class="table-success">
                <!-- <th scope="row">{{us.id}}</th> -->
                <th>{{us.name}}</th>
                <td>{{us.skill}}</td>
                <!-- <td>{{us.gender}}</td>
                <td>{{us.email}}</td>
                    <td>{{us.team}}</td>
                    <td>{{us.contact}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
    
    </div>
    <div class="overlay" *ngIf="pickTeamflag">
        <div class="content-container ">
            <div class="  winnerBox">
                <div>The Lucky team Is </div>
                &nbsp;
                <div class="winnerTeam"> {{currentTeam}}</div>
            </div>
            <div>
            </div>
            <div class="winnerbuttons">
                <button class="btn btn-primary  addPlayerToTheTeamButton" (click)="Continue()"
                    [disabled]="addPlayerButtonDisabled">Take this Team
                </button>
                &nbsp;
                <button class="btn btn-primary " (click)="Cancel()">Cancel the this Team</button>
            </div>
        </div>
    </div>
</div>